.main {
    display: grid;
    justify-items: center;
}

.radiosButtons {
    margin: 20px;
    display: flex;
    justify-content: center;
}

.cardCadastro {
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.buttonsAcao {
    display: flex;
    justify-content: space-evenly;
}